body {
    font-family: "Lobster", sans-serif;
    background-color: rgb(131, 190, 161);
    margin: 0px;
    
}

#page-logo a {
    padding: 10px;
    font-family: "Oleo Script", sans-serif;
    color: bisque;
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgb(250, 63, 6);    
}

