header {
    margin-bottom: 64px;
}

h1 {
    font-size: 48px;
    color: rgba(255, 153, 127, 0.897);
    margin: 12px 0;
}

#description{
    margin: 20px;
    
}
a {
    padding: 0px 48px ;
    background-color: red;
    font-family: 'Lobster', sans-serif;
    text-decoration: none;
    border: 5px solid rgba(62, 202, 27, 0.925) ;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    display: inline-block;
     
}

a:hover {
    text-decoration: none;
    background-color: rgb(255, 94, 0);
}

Ol {
    list-style: none;
    width: 500px;
    margin:36px auto 0 auto;
    padding: 0;
    
}



/* ul {
    list-style: none;
    
} */

li {
    padding:16px;
    background-color: rgba(200, 255, 0, 0.247);
    border-radius: 6px;
    margin: 32px;
    box-shadow: 5px 5px 5px orangered;
}

h2 {
    color:rgba(228, 11, 163, 0.507);
    font-family: 'Lobster', sans-serif;
}

main p {
    margin: 12px;
    color:rgba(62, 202, 27, 0.925)
}

.four
{
    background-color: rgba(0, 255, 157, 0.247)
}