body {
    background-color: rgb(220, 205, 233);
    font-family: 'roboto', sans-serif;

}

h1 {
    font-family: 'Lobster', sans-serif;
    font-size: 54px;
    color:rgb(131, 13, 235)
}

header {
    text-align: center;
    padding: 32px;
}

header img {
    width: 300px;
}

main {
    background-color: rgba(148, 204, 236, 0.685);
    padding: 32px;
    margin: 34px auto;
    width: 700px;
    border-radius: 8px;
    color:rgb(253, 250, 250)
}

UL {
    margin: 0;
    padding: 0;
    list-style: none;

}

li {
    margin: 14px 0;
    padding-left: 10px;
    text-decoration: none;
}
footer {
    text-align: center;
}

footer p {
    color: rgb(231, 132, 10);
    margin-top: 30px;
}

footer a {
    padding: 12px 20px;
    border-radius: 8px;
    background-color: rgb(108, 223, 207);
    color: blueviolet;
}
.vamp {
    color: yellow;
    border-left: 5px solid rgb(205, 107, 50);
}

a {
    text-decoration: none;
    background-color: gold;
}
